@model List<QuanLySanPham.Catalog>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create new","Create" )
</p>
@foreach (var item in Model)
{
    <table>
        <tr>
            <td>@item.Id</td>
            <td>@item.CatalogCode</td>
            <td>@item.CatalogName</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
            <td>@Html.ActionLink("Chi tiết", "Details", new { id = item.Id })</td>
            <td>@Html.ActionLink("Xóa", "Delete", new { id = item.Id })</td>
            <td>@Html.ActionLink("Xem sản phẩm", "SanPhams", new { Id = item.Id })</td>
        </tr>
        
    </table>
}

