@model List<QuanLySanPham.Product>

@{
    ViewBag.Title = "SanPhams";
}

<h2>SanPhams</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Partial("ListProduct", Model)

@Html.Partial("ListProduct", Model)
@Html.Partial("ListProduct", Model)
@Html.Partial("ListProduct", Model)